.account{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .infor-account{
        margin-left: 1rem;
        font-size: 16px;
        margin-right: 2rem;
    }
    .follow{
        background-color: transparent !important;
        border: 1px solid var(--color1);
        margin-right: 0.3rem;
        width: 190px !important;
        color: #ccc;
    }
    .follow:hover{
        background-color: var(--color1) !important;
    }
    .hearth{
        text-align: center;
        width: 190px !important;
        color: var(--color);
        border: 1px solid var(--color);
        background-color: transparent !important;
    }
    .hearth:hover{
        background-color: var(--color) !important;
        color: #fff;
    }
    .edit,
    .delete{
        width: 9rem;
    }
    .edit{
        margin-right: 5px;
        background-color: transparent;
        border: 1px solid #ccc;
        color: #ccc;
        &:hover{
            background-color: #ccc;
            color: #fff;
        }
    }
    .delete{
        color: #B85C5C;
        border: 1px solid #B85C5C;
        background-color: transparent;
        &:hover{
            background-color: #B85C5C;
            color:#fff;
        }
    }
}