.header{
    height: 60px;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    .banner-profile{
        position:relative;
        width: 100%;
        height: 250px;
        background-color: #f8f8f8;
    }
    .background-account{
        position:absolute;
        text-align: center;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        img{
            border-radius: 50%;
            width: 100px;height: 100px;
        }
    }
    Button{
        position:absolute;
        right: 10rem;    
        bottom: 2rem;
        background-color:#cccc !important;
        border: 1px solid #bababa !important;
        color: #f8f8f8;
    }
    Button:hover{
        background-color: #ccc !important;
    }
}
.content-tabs{
    position: relative;
    top:40px;
    max-width: 1200px;
    margin: auto;
    .title-tabs{
        cursor: pointer;
        font-size: 18px;
        color: #ccc;
    }
    .active-tab {
        color: var(--color);
    }
}
